<?php /** @var \Magento\Framework\View\Element\Template $block */ ?>

<div id="options_4_date">
    this is a calendor placeholder
</div>

<script type="text/x-magento-init">
    {
        "#options_4_date": {
            "Mbs_DateCalendar/js/calendar": {

            }
        }
    }
</script>